:root{
    --dark: #374151;
    --darker: #1f2937;
    --darkest: #111827;
    --gray: #6b7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8b5cf6;
}
body{
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    margin: 5% 10%;
    font-family: 'Roboto';
}
.heading{
    color: var(--gray);
    font-size: 3rem;
    font-weight: 400;
}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#task-input{
    display: flex;
}
#Task-box{
    background-color: var(--darker);
    height: 40px;
    width: 700px;
    border-radius: 15px;
    float: left;
    padding: 5px 20px;
    font-size: 1.25rem;
    color: var(--light);
}
#Task-box::placeholder{
    color: var(--gray);
}
#Submit{
    font-weight: 1000;
    color: var(--pink);
    background-color: var(--dark);
    background: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    font-size: 1.25rem;
    margin: 3px 10px;
    cursor: pointer;
}
#Submit:hover{
    opacity: 0.8;
}
#Submit:active{
    opacity: 0.6;
}
.task-list{
    padding: 1rem;
}
.task-list h2{
    font-size: 2rem;
    font-weight: 400;
    color: var(--gray);
}
#tasks .task{
    /* float: left; */
    /* width: 800px; */
    /* color: var(--light); */
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
}
#tasks .task .content{
    flex: 1 1 0%;
}
#tasks .task .content .task-text{
    color: var(--light);
    font-size: 1.125rem;
    display: block;
    transition: 0.4s;
    width: 100%;
}
#tasks .task .content .task-text:not(:read-only){
    color: var(--pink);
}
#tasks .task .actions{
    /* display: flex; */
    margin: 0 -0.5rem;
}
.task .actions button{
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}
.task .actions button:hover{
    opacity: 0.8;
}
.task .actions button:active{
    opacity: 0.6;
}
.task .actions .edit{
    background-color: var(--dark);
    background: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.task .actions .delete{
    color: crimson;
}